<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472888646819-hl5jncm8nfaa8f7t38ki4e5q4r1f7c58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472888646819-hl5jncm8nfaa8f7t38ki4e5q4r1f7c58</string>
	<key>API_KEY</key>
	<string>AIzaSyBTTE4Y5N-WvR4_3xesR6dl5N4MAiZ-LIA</string>
	<key>GCM_SENDER_ID</key>
	<string>472888646819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.--Food-Picker-rfc1034identifier-</string>
	<key>PROJECT_ID</key>
	<string>food-picker-8208f</string>
	<key>STORAGE_BUCKET</key>
	<string>food-picker-8208f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472888646819:ios:14cfa4606642f06a9cb316</string>
</dict>
</plist>